#footer {
  // General Styles
  background-color: #101010;
  color: white;
  display: flex;

  #footer-container,
  #footer-text,
  #footer-links {
    display: flex;
  }

  #footer-links .navbar {
    padding: 0;
    padding-top: 0.312rem;
  }

  #orange-bar {
    background-color: #d87d4a;
  }

  .navigation-link {
    text-decoration: none;
    padding: 0;
    padding-left: 2rem;
  }

  .social-link {
    margin-left: 1rem;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    padding-bottom: 2rem;

    #orange-bar {
      width: 100px;
      height: 5px;
      margin-left: 0.25rem;
    }

    #footer-container,
    #footer-text,
    #footer-links {
      justify-content: space-between;
    }

    #footer-container {
      margin: 3rem 0;
    }

    #footer-text,
    #footer-links {
      flex-direction: column;
    }

    #footer-text,
    #footer-links {
      width: 45%;
    }

    #footer-logo {
      padding-bottom: 2rem;
    }

    #footer-links {
      align-items: flex-end;
    }
  }
}
