#detail-container {
  // General Styles

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: flex;
      justify-content: flex-start;
    }

    span {
      color: #d87d4a;
      width: 10%;
      padding-right: 2rem;
    }
  }

  .product-info {
    display: flex;
  }

  .product-gallery {
    display: flex;

    img {
      border-radius: 0.25rem;
    }
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    .product-info {
      flex-direction: column;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    #features {
      width: 65%;
      padding-right: 3rem;
    }

    .product-gallery {
      justify-content: space-between;

      margin: 8rem 0;
    }

    #image-div {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
  }
}
