#medium-product-home {
  // General Styles
  border-radius: 0.25rem;
  display: flex;
  text-transform: uppercase;

  button {
    background-color: transparent;
    border: 1px solid #101010;
    color: #101010;
  }

  button:hover {
    background-color: #101010;
    color: #fff;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    background-image: url("../../assets/images/mobile/image-speaker-zx7.jpg");
    flex-direction: column;
    height: 45vh;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: center;
    margin: 1rem 0;

    #medium-product-text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: space-between;
      height: 35vh;
      padding: 5rem 1.5rem;
    }
  }

  // Medium Screens
  @media screen and (min-width: 600px) and (max-width: 960px) {
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    background-image: url("../../assets/images/image-speaker-zx7.jpg");
    height: 39vh;
    margin-top: 4rem;

    h2 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
    }

    button {
      margin-top: 1rem;
    }

    #medium-product-text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      padding: 0 5rem;
    }
  }
}
