.navigation {
  // General Styles
  // border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  text-transform: uppercase;
  font-size: 0.8rem;

  padding: 1rem 0;

  background-color: #1a1a1a;

  #brand,
  .navigation-link {
    color: white;
  }

  .navigation-link {
    padding-right: 2rem;
    text-decoration: none;
  }

  .navigation-link:hover {
    color: #d87d4a;
  }

  // Small Screens
  @media screen and (max-width: 600px) {
    .nav-links {
      display: none;
    }

    #hamburger-icon {
      // background-image: url("../icon-hamburger.svg");
      height: 1rem;
      width: 3rem;
      margin-left: auto;
      z-index: 10;
    }
  }

  // Large Screens
  @media screen and (min-width: 960px) {
    .nav-links {
      margin: auto;
    }
  }
}
